DB_HOST=seu_host_aiven
DB_USER=avnadmin
DB_PASSWORD=sua_senha_aiven
DB_NAME=defaultdb
DB_PORT=12409
PORT=3000
SESSION_SECRET=sua_chave_secreta_longa_e_segura
DB_CA=-----BEGIN CERTIFICATE-----
MIIERDCCAqygAwIBAgIUa+r+zv1/zj5Fi5ymNirmiqflTI8wDQYJKoZIhvcNAQEM
BQAwOjE4MDYGA1UEAwwvNjc4Mzk5NzUtZmJhYS00ZjUxLWEyZGMtMWFhZWEzOTJh
MDdkIFByb2plY3QgQ0EwHhcNMjYwNzIxMTE0ODQ1WhcNMzYwNzE4MTE0ODQ1WjA6
MTgwNgYDVQQDDC82NzgzOTk3NS1mYmFhLTRmNTEtYTJkYy0xYWFlYTM5MmEwN2Qg
UHJvamVjdCBDQTCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCCAYoCggGBANdO/ikx
5Q/z+UL3LPxV9XkfzpemxzheDEElmBy5nxLldT7Od9+NhBuZLeNS1qvuTvrqNoNS
xHVvwayeYO6isaT1iDrRNCNHgvmS0CQtWbKbdnn2NDKjEwXP+4JCU20xGxiMV90g
kzv5LDA/g7RbygSFVXOhDZKfPq7PU+VcNCchoOy9Fvaf7Y229cDmcdNYrb/i5Glq
Ui/+Gpnw2QjR0DKQ4ZanHEuu+1GHlBMlFl5Fsz3vTWu6IGHlUE0CdnncmLFx8DDH
H1WgA3WaeIkE7xl0xBtSyWx+hdQMCLVSgpN98Zw4fFrU/dSmSEkPYr7ikGCIqX0m
Ib1UljMxHHCnWwFKMG8VVX8s46WZe4h0EE0IgzotDaBOg4cYSE5HbRHL1FVpL2HH
4TRR0606tsVHWCjmmQb+qjWU0LVVbh2rOFzRQGmF5jTNp1iaCow9TSAwbFd2kTcR
q+8oxbqE1uhvdsfBvkSEsJeQi4tf16w6N0pXDoFB0uaU2WL0IwaDdSQ41wIDAQAB
o0IwQDAdBgNVHQ4EFgQUOJUW6nG02ahInICCeQ4G3SCLWYswEgYDVR0TAQH/BAgw
BgEB/wIBADALBgNVHQ8EBAMCAQYwDQYJKoZIhvcNAQEMBQADggGBAH2GDG0m3kcN
rLFCPFAao6rZUK0N0ERPkFB8ScACaPfD49ofTAernR97N0evzo4cyre007VRIXzq
DqYG3V7/hKxdA+QnywkqY96M2V70Ob0izFN0YLeTud4P3JgWPB9NOMBMZOOS7pn1
m1F/sApxIe7O6b9Z0egtGTuD5jPIJvNwoACwlrohHCL1uJrdF+nW9SY8+zocDADM
B12KKgNuB7E402jJViA5toM1OEeROi4v9yr3fxskfcYXuqXFkSwi4PYR0a01PtjL
4UGlqxpcHE+R4di/nwkcWFZcoUruJvkXfYh9R2at/xuPFwzFeZ2PJBW7JEeAjSs4
5W+f4FlDqbKuGUs/59KJLBBoVkgwOYIefADCVoJFb+jycSo6bdB+l22wkBIWNNGG
Oj57oYBcCMP/sRpe6XGb8GywJ0wgwcXswSTBU45eSXHpsIQWaF7VhVKEU5NeWF/i
JCyLqesU0MGj2kH3ldnukRbqZx+2JwObBhFQ32zrs4Ivi0mdTDH2Zw==
-----END CERTIFICATE-----